<h3>Satellite Counts:</h3>
<!-- <div class="counts"> -->
	<h3>Satellite Count:</h3>
<div class="counts">
	<div>Total: <span class="counts-total">{{satellites.length}}</span></div>
</div>
	
	
	<!-- <div class="satellites">
	<div>Total: <span>{{satellites.length}}</span></div>
	<div>Space Debris:  <span>{{count('Space Debris')}}</span></div>
	<div>Communication:  <span>{{count('Communications')}}</span></div>
	<div>Probe:  <span>{{count('Probe')}}</span></div>
	<div>Positioning:  <span>{{count('Positioning')}}</span></div>
	<div>Space Station:  <span>{{count('Space station')}}</span></div>
	<div>Telescope:  <span>{{count('Telescope')}}</span></div>
</div> -->

<!-- TODO 4: add logic to count number of satellites displayed -->
<!-- <h3>Orbit Counts</h3>
<div class="counts">
	<div *ngFor="let category of categories">{{category}}: <span>{{count}}</span></div>
</div> -->
<!-- TODO 4: add logic to count number of satellites displayed -->
